.btn {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  background-color: $custom-mid-gray;
  box-shadow: $box-shadow-custom;
  border: $btn-border-width solid $btn-border-color;
  border-radius: $custom-border-radius;
  text-align: center;
  font-family: $font-family-base-medium;
  font-size: 1.4rem;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: $btn-line-height;
  font-weight: $btn-font-weight;
  text-transform: uppercase;
  color: $custom-dark-gray;
  &:not(.disabled),
  &:not(:disabled) {
    &:hover {
      cursor: pointer;
    }
  }
  &:focus {
    outline: 0;
  }
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
  }
  &-primary {
    background: $custom-green;
    color: $white;
    &:hover {
      background: $custom-green-hover;
    }
    &:focus {
      background: $custom-green-pressed;
    }
  }
  &-danger {
    
  }
}

.btn-link {
  display: inline-block;
  background: $transparent;
  border: none;
  font-weight: $font-weight-normal;
  color: $link-color;
  &:not(.disabled),
  &:not(:disabled) {
    &:hover {
      cursor: pointer;
      color: $link-hover-color;
    }
  }
  &:focus {
    outline: 0;
  }
  &.disabled,
  &:disabled {
    color: $btn-link-disabled-color;
  }
  &-danger {
    
  }
}

.btn-fullwidth {
  display: block;
  width: 100%;
}


// Theme

.add-project-btn {
  width: 21.5rem;
}
