.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.inline-control-group {
  @include display-flex-mixin(flex, row, flex-start, center);
  height: 100%;
}

.form-control {
  position: relative;
  display: block;
  width: 100%;
  padding: $custom-input-padding-y $custom-input-padding-x;
  background: $input-bg;
  border-width: $input-border-width;
  border-color: $custom-input-border-color;
  border-radius: $custom-input-border-radius;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $input-line-height;
  color: $input-color;
  &:hover {
    border-color: $custom-gray-300;
  }
  &:focus {
    outline: 0;
    border-color: $custom-gray-300;
    color: $custom-black;
  }
  &::placeholder {
    color: $custom-input-placeholder-color;
  }
  &.custom-select {
    color: $custom-mid-gray;
  }
}

input[attr="disabled"] {
  background: $input-disabled-bg;
  color: $input-disabled-color;
}

option[attr="disabled"] {
  color: $input-disabled-color;
}


// Theme

.custom-inline-control-group {
  .label {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0.8rem;
  }
}

.custom-control-group {
  margin-bottom: 1.5rem;
  .label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: $font-family-base-medium;
    font-size: $font-size-sm;
    color: $custom-mid-gray;
  }
}

.custom-select-wrapper {
  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    right: 0.3rem;
    z-index: 2;
    display: inline-block;
    margin-top: -1rem;
    width: 2rem;
    height: 2rem;
    background-color: $white;
    color: $custom-mid-gray;
  }
  &.unfolded::before {
    
  }
}

.custom-checkbox {
  position: relative;
  margin-right: 0.8rem;
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    width: 18px;
    height: 18px;
    background: $custom-light-gray;
    border: 2px solid $custom-gray-300;
    border-radius: $custom-border-radius;
  }
  &:hover::before {
    border-color: $custom-gray-500;
  }
  &:checked::before {
    background: url("../imgs/checked.png") no-repeat -1px -1px $custom-light-gray;
    border-color: $custom-green;
  }
}
